<div>
<table class = "table text-start">
  <thead>
    <tr class="color-purple">
      <th scope="col">#</th>
      <th scope="col">Status</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Prep time</th>
      <th scope="col">Ratings</th>
    </tr>
  </thead>
  <tbody>
  <% @recipes.each_with_index do |recipe, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= recipe.done == 'true' ? '✅' : '◻️' %></td>
      <td><%= recipe.name %></td>
      <td><%= recipe.description %></td>
      <td><%= recipe.preptime %></td>
      <td><%= recipe.rating %></td>
      <td><a href = "recipes/<%=index%>/delete" class = "btn btn-danger">Delete</a></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
<div class = "text-center mt-5">
<a href = "/new" class = "btn btn-primary">Create</a>
</div>